
<h2>Why Solace</h2>
Solace technology efficiently moves information between all kinds of applications, users and devices, anywhere in the world, over all kinds of networks. Solace makes its state-of-the-art data movement capabilities available via hardware and software “message routers” that can meet the needs of any application or deployment environment. Solace’s unique solution offers unmatched capacity, performance, robustness and TCO so our customers can focus on seizing business opportunities instead of building and maintaining complex data distribution infrastructure.

<h3>Superior Performance</h3>
Solace’s hardware and software messaging middleware products can cost-effectively meet the performance needs of any application, with feature parity and interoperability that lets companies start small and scale to support higher volume or more demanding requirements over time, and purpose-built appliances that offer 50-100x higher performance than any other technology for customers or applications that require extremely high capacity or low latency.

<h3>Robustness</h3>
Solace offers high availability (HA) and disaster recovery (DR) without the need for 3rd party products, and fast failover times no other solution can match. Distributing data via dedicated TCP connections ensures an orderly, well-behaved system under load, and patented techniques ensure that the performance of publishers and high-speed consumers is never impacted by slow consumers.

<h3>Simple Architecture</h3>
Modern enterprises run applications that demand many kinds of data movement such as persistent messaging, web streaming, WAN distribution and cloud-based communications. By supporting all kinds of data movement with a unified platform that can be deployed as a small-footprint software broker or high-capacity rack-mounted appliance, Solace lets architects design an end-to-end infrastructure that’s easy to build applications for, integrate with existing technologies, secure and scale.

<h3>Simple Operations</h3>
Solace’s solution features a shared administration framework for all kinds of data movement, deployment models and network environments so it’s easy for IT staff to deploy, monitor, manage and upgrade their Solace-based messaging environment.

<h3>Cost Savings</h3>
Solace reduces expenses with high-capacity hardware, flexible software, and the ability to deploy the right solution for each problem. Solace’s support for many kinds of messaging lets you replace multiple messaging products with just one, built-in HA, DR, WAN and Web functionality eliminate the need for third-party products.




